html,
body,
.view {
    height: 100%;
}

header {
    height: 45%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 1000px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 600px;
    }
}

.btn .fa {
    margin-left: 3px;
}

.top-nav-collapse {
    background-color: #424f95 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #424f95 !important;
    }
}

.btn-white {
    color: black !important;
}

h6 {
    line-height: 1.7;
}

.rgba-gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

#ticketform {
    height: auto;
    width: 100%;
    background-image: url("../images/bgdiv.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    padding-left: 0px;
    border-radius: 25px;
}

#ticketform li a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: rgb(243, 236, 236);
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    margin-right: 14px;
}

#ticketform li {
    position: relative;
    display: inline;
    display: table-cell;
    width: auto;
}

#ticketform ul li {
    outline: 0;
    margin: 0;
    padding: 0;
}

#ticketform li:hover a,
#ticketform li.active a,
#ticketform li a:hover,
#ticketform li a:focus {
    color: white;
    border-bottom: 2px solid #5fa2db;
}